{%if settings.show_blog_categories%}
<div class="list-categories">
	<div class="wrapper">
		<div class="inner">
			<ul class="no-bullets">
				{%for link in linklists[settings.blog_sidebar_select].links%}
				{%assign _blog = link.object%}
				<li class="{%if blog.url == _blog.url%}active{%endif%}">
					<a href="{{_blog.url}}">
						{{_blog.title}}
					</a>
				</li>
				{%endfor%}
			</ul>
		</div>
	</div>
</div>
{%endif%}


<section id="blog-wrapper">
	<div class="wrapper">
		<div class="inner">
			<div class="grid">

				<article class="grid__item push--large--one-tenth large--four-fifths medium--one-whole small--one-whole" itemscope itemtype="http://schema.org/Article">

					<div class="article-content">
						<div class="article-head">
							<h1>{{article.title}}</h1>							
							<div class="grid mg-left-15">
								<div class="grid__item large--one-half medium--one-half small--one-half pd-left15">
									<div class="article-date-comment">
										<div class="date"><i class="fas fa-calendar-alt"></i> {{ article.published_at | date: '%d/%m/%y' }}</div>
										<div class="comment"><i class="fas fa-comment-alt"></i> <span class="fb-comments-count" data-href="{{shop.url}}{{article.url}}"></span></div>
										<div class="author">
											<i class="fas fa-user"></i> {{article.author}}
										</div>									
									</div>
								</div>
								<div class="grid__item large--one-half medium--one-half small--one-half pd-left15">
									<div class="social-network-actions text-right">
										<div class="fb-like" data-href="{{shop.url}}{{article.url}}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
									</div>
								</div>
							</div>
						</div>
						{%if settings.use_article_tldr%}
						<div class="article-tldr clearfix">
							{{ article.excerpt }}
						</div>
						{%endif%}
						<div class="article-body">
							{{ article.content }}
						</div>
					</div>
					<div class="social-network-actions-outside text-right">
						<div class="fb-send" data-href="{{shop.url}}{{article.url}}"></div>
						<div class="fb-like" data-href="{{shop.url}}{{article.url}}" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
					</div>
					<div id="section-fbcomment" class="fb-comments-wrapper">
						<div class="fb-comments" data-href="{{shop.url}}{{article.url}}" data-width="100%" data-numposts="5"></div>
					</div>

					{%if blogs[blog.handle].articles_count > 1%}
					<div class="related-articles">
						<div class="related-articles-head">
							<h3>
								{{settings.related_articles_title}}
							</h3>
						</div>
						<div class="related-articles-body">
							<ul class="no-bullets">
								{% for _article in blogs[blog.handle].articles limit:settings.blog_sidebar_recent_number %}
								{%if article.url != _article.url%}
								<li>
									<a href="{{ _article.url }}">{{ _article.title }}</a>
								</li>
								{%endif%}
								{% endfor %}
							</ul>
						</div>
					</div>
					{%endif%}

				</article>
			</div>
		</div>
	</div>
</section>	